<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'memes_site/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'memes_site/main.css' %}">
    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'memes_site/menu.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-xl-4 offset-xl-4">
            <h1>Rejestracja</h1>
            {% if error_message %}
                <div class="alert alert-dismissible alert-danger login-alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ error_message }}
                </div>
            {% endif %}
            <form action="{% url 'account:register_validate' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="InputLogin">Login</label>
                    <input type="text" class="form-control" name="username" id="InputLogin" placeholder="Login"
                           required>
                </div>
                <div class="form-group">
                    <label for="InputEmail">E-mail</label>
                    <input type="email" class="form-control" name="email" id="InputEmail" placeholder="E-mail" required>
                </div>
                <div class="form-group">
                    <label for="InputPassword">Hasło</label>
                    <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Hasło"
                           required>
                </div>
                <button type="submit" class="btn btn-primary">Zarejestruj</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>